<li>
  <%= link_to task.title, task %> |
  <%= task.due_date %> |
  <%= link_to "Delete", task, method: :delete, data: {confirm: "You sure?"} %> |
  <%= form_for task do |f| %>
    <%= f.check_box :done %>
    <%= f.submit "Done" %>
  <% end %>
</li>
