<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTodoTwilio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, messages| %>
    <ul>
      <% messages.each do |message| %>
        <li><strong><%= message_type %>! <%= message %></strong></li>
      <% end %>
    </ul>
    <% end %>
    <%= render 'layouts/shared/main_nav' %>
    <%= yield %>
  </body>
</html>
